<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>DETAIL PAGE - {{blog.id}}번째 글<br></h1>

<div class="container">

    <div class="card" style="width: 38rem;">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6>
          <p class="card-text">{{ blog.body }}</p>
          {% for comment in blog.comments.all %}
          <div class="comment">
            <li>
            {{ comment.text }}<small> by <strong>{{ comment.author }}</strong>, {{ comment.created_at }}</small>
            </li>
          </div>

        {% empty %}
        <p>아직 댓글이 없습니다! :(</p>
        {% endfor %}
          <a href="{% url 'comment_new' blog.pk %}">댓글 추가하기</a>
          <a href="{% url 'home' %}">돌아가기</a>
        </div>
      </div>


    
</div>
